* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: 'Lato','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  background: #eee;
}


#container {
  background: #eee;
  margin-left: 260px;
  position: relative;
  -moz-transition: margin-left .25s linear;
  -webkit-transition: margin-left .25s linear;
  transition: margin-left .25s linear;
}
#main {
  background: #eee;
  padding-top: 50px;
  min-height: 1400px;
}
#main p {
  margin-bottom: 1em;
  line-height: 1.9;
}
#main .inner {
  padding: 60px;
}

/* main-visual */
#main-visual {
  background: #64CE80;
  background: -webkit-linear-gradient(-45deg, #64CE80, #C68BC4);
  background: -moz-linear-gradient(-45deg, #64CE80, #C68BC4);
  background: -ms-linear-gradient(-45deg, #64CE80, #C68BC4);
  background: -o-linear-gradient(-45deg, #64CE80, #C68BC4);
  background: linear-gradient(-45deg, #64CE80, #C68BC4);


  height: 400px;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#main-visual h2 {
  font-size: 21px;
  color: #fff;
}
h3 {
  font-size: 131%;
  margin-bottom: .7em;
}
#copyright a {
  color: #666;
  text-decoration: none;
}
#copyright a:hover {
  text-decoration: underline;
}

#global-head {
  position: fixed;
  color: #033560;
  width: 100%;
  padding: 10px 30px;
  background: #fff;
  display: -webkit-flex;
  display: flex;
}

#sidebar {
  padding-top: 60px;
  width: 260px;
  height: 100%;
  position: fixed;
  color: #afc3f2;
  background: #033560;
}

#brand-logo {
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#channels ul {
  list-style: none;
  margin-left: 0;
}
#channels > ul > li {
  position: relative;
}

#channels a {
  color: #aeb4cb;
  text-decoration: none;
  display: block;
  padding: 15px;
  -moz-transition: color .3s linear;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}
#channels .sub-menu.is-active > a,
#channels a:hover {
  color: #fff;
  /*background: #fff;*/
}


/* sub-menu icon */
#channels .sub-menu-head {
  position: relative;
}
#channels .sub-menu-head:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  margin: auto;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-top: 1px solid #aeb4cb;
  border-right: 1px solid #aeb4cb;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#channels .sub-menu.is-active > a:after,
#channels .sub-menu-head:hover:after {
  border-color: #fff;
}

#channels .is-active .sub-menu-head:after {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* sub-menu */
#channels .sub-menu-nav {
  background: #032f55;

  display: none;
  padding: 10px 0;

  /*-moz-transition: all .4s ease;*/
  /*-webkit-transition: all .4s ease;*/
  /*transition: all .4s ease;*/
}


#channels .sub-menu-nav a {
  color: #aeb4cb;
  padding: 8px 15px;
}
#channels .sub-menu-nav a:hover {
  color: #fff;
}


/* nav-toggle */
#nav-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 32px;
}
#nav-toggle > div {
  position: relative;
  width: 32px;
}
#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

/* #nav-toggle close */
#nav-toggle span:nth-child(1) {
  top: 0;
  /*
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  */
}
#nav-toggle span:nth-child(2) {
  top: 11px;
  /*
  width: 0;
  left: 50%;
  */
}
#nav-toggle span:nth-child(3) {
  top: 22px;
  /*
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  */
}

/*
.close #nav-toggle span:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}
.close #nav-toggle span:nth-child(2) {
  width: 100%;
  left: 0;
}
.close #nav-toggle span:nth-child(3) {
  top: 22px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}
*/


/* z-index */
#nav-toggle {
  z-index: 1000;
}
#container {
  z-index: 900;
}

/* close */
.close #container {
  margin-left: 0;
}
.close #brand-logo {
  margin-left: 50px;
}
.close #nav-toggle span {
  background: #033560;
}

@media screen and (max-width: 900px) {
  #container {
    margin-left: 0;
  }
  #brand-logo {
    margin-left: 50px;
  }
  #nav-toggle span {
    background: #033560;
  }
  .close #nav-toggle span {
    background: #fff;
  }

  #sidebar {
    left: -260px;
    z-index: 910;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  .close #sidebar {
    left: 0;
  }
}

@media screen and (max-width: 400px) {

}
