
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400');

body {
  background: #ffffff;
  font-family: 'Lato','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}



/*---------------------------------------
  Typorgraphy
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0px;
}

h1 {
  color: #3d3d3f;
  font-size: 28px;
  line-height: normal;
}

h2 {
  color: #575757;
  font-size: 40px;
  line-height: 52px;
  margin-top: 0px;
}

h4 {
  color: #797979;
  font-size: 18px;
  font-weight: normal;
}

p {
    color: #878787;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.2px;
}

ul {
    color: #878787;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.2px;
}

strong, span {
  color: #878787;
  font-weight: normal;
}



/*---------------------------------------
  Buttons
-----------------------------------------*/

.green-btn {
  background: #aacf53;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 14px 32px 18px 32px;
  margin-top: 10px;
  margin-right: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.green-btn:focus,
.green-btn:hover {
  background: #82ae46;
  color: #ffffff;
}



/*---------------------------------------
    General
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4c6cb3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #82ae46;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  padding-bottom: 32px;
}

#about, #work,
#contact {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

#about img, #team img {
  border-radius: 5px;
}

#work {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

#contact {
  text-align: center;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.v-margin {
  margin-top: 50px;
}



/*---------------------------------------
  Pre loader section
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #000000;
  border-top-color: #f9f9f9;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
  Navigation section
-----------------------------------------*/

.custom-navbar {
  border: none;
  margin-bottom: 0;
  background-color: #ffffff;
  padding-top: 22px;
}

.custom-navbar .navbar-brand {
  color: #444;
  font-weight: normal;
  font-size: 20px;
}

.custom-navbar .nav li a {
  font-size: 15px;
  font-weight: normal;
  color: #656565;
  letter-spacing: 1px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: 15px;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-nav li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 2px;
  margin: auto;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}

.custom-navbar .navbar-nav li a:hover:after,
.custom-navbar .nav li.active > a:after {
  background: #000000;
  color: #ffffff;
  width: 100%;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #454545;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 12px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #000000;
  border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      box-shadow:0 40px 100px rgba(0,0,0,.2);
      padding: 10px 0;
    }

}

/*---------------------------------------
  Sidebar section
-----------------------------------------*/

#sidebar {
  padding-top: 25px;
  width: 260px;
  height: 100%;
  position: fixed;
  color: #afc3f2;
  background: #033560;
}

.brand-logo {
  margin-left: 45px;
}

.brand-logo a {
  font-size: 23px;
  color: #fff;
}

.brand-logo img {
  width: 43px;
  height: 48px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #0F3F6F, #8c8b8b, #0F3F6F);
  background-image: -moz-linear-gradient(left, #0F3F6F, #8c8b8b, #0F3F6F);
  background-image: -ms-linear-gradient(left, #0F3F6F, #8c8b8b, #0F3F6F);
  background-image: -o-linear-gradient(left, #0F3F6F, #8c8b8b, #0F3F6F);
  text-align: center;
}

.favorite-channel {
  text-align: center;
}

.favorite-channel p {
  color: #fff;
  font-size: 15px;
}

.favorite-channel ul {
  list-style: none;
  margin-left: 0;
  font-size: 15px;
}

.favorite-channel > ul > li {
  position: relative;
  font-size: 18px;
}

.favorite-channel a {
  color: #aeb4cb;
  text-decoration: none;
  display: block;
  padding: 10px 5px 5px 5px;
  -moz-transition: color .3s linear;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.favorite-channel a:hover {
  color: #fff;
}

#channels p {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

#channels ul {
  list-style: none;
  margin-left: 0;
  font-size: 15px;
}
#channels > ul > li {
  position: relative;
  font-size: 18px;
}

#channels a {
  color: #aeb4cb;
  text-decoration: none;
  display: block;
  padding: 10px 5px 5px 5px;
  -moz-transition: color .3s linear;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}
#channels .sub-menu.is-active > a,
#channels a:hover {
  color: #fff;
}


/* sub-menu icon */
#channels .sub-menu-head {
  position: relative;
}
#channels .sub-menu-head:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  margin: auto;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 1px solid #aeb4cb;
  border-right: 1px solid #aeb4cb;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#channels .sub-menu.is-active > a:after,
#channels .sub-menu-head:hover:after {
  border-color: #fff;
}

#channels .is-active .sub-menu-head:after {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* sub-menu */
#channels .sub-menu-nav {
  background: #032f55;
  display: none;
  padding: 2px 5px;
}


#channels .sub-menu-nav a {
  color: #aeb4cb;
  padding: 5px 15px;
}
#channels .sub-menu-nav a:hover {
  color: #fff;
}


/* nav-toggle */
#nav-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 32px;
}
#nav-toggle > div {
  position: relative;
  width: 32px;
}
#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

/* #nav-toggle close */
#nav-toggle span:nth-child(1) {
  top: 0;
  /*
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  */
}
#nav-toggle span:nth-child(2) {
  top: 11px;
  /*
  width: 0;
  left: 50%;
  */
}
#nav-toggle span:nth-child(3) {
  top: 22px;
  /*
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  */
}

/*
.close #nav-toggle span:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}
.close #nav-toggle span:nth-child(2) {
  width: 100%;
  left: 0;
}
.close #nav-toggle span:nth-child(3) {
  top: 22px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}
*/


/* z-index */
#sidebar {
  z-index: 1100;
}
#nav-toggle {
  z-index: 1000;
}
#container {
  z-index: 900;
}

/* close */
.close #container {
  margin-left: 0;
}
.close #brand-logo {
  margin-left: 50px;
}
.close #nav-toggle span {
  background: #033560;
}




/*---------------------------------------
  Home section
-----------------------------------------*/

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 62px;
}

#home img {
  width: 120px;
  height: 120px;
}


/*---------------------------------------
  Channel-detail section
-----------------------------------------*/

#channel-detail {
  position: absolute;
  margin-top: 100px;
  margin-left: 280px;
}

.live {
  width: 350px;
  height: 250px;
  margin: 15px;
  border: 1px dotted #000000;
  text-align: center;
  float: left;
}

.video-info {
  float: both;
}


/*---------------------------------------
  Mobile Responsive styles
-----------------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
  #home {
    height: 50vh;
  }
}

@media (min-width: 667px) and (max-width: 767px) {
  #home {
    height: 140vh;
  }
}

@media (min-width: 568px) and (max-width: 665px) {
  #home {
    height: 190vh;
  }
}

@media (max-width: 980px) {

 h1 {font-size: 28px;}

 #work .work-thumb {
  margin-top: 30px;
 }

}


@media (max-width: 768px) {

  h1 {
    font-size: 28px;
    line-height: normal;
  }

  h2  {font-size: 30px;}

  .custom-navbar {
    background-color: #ffffff;
    box-shadow:0 40px 100px rgba(0,0,0,.2);
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .custom-navbar .nav {
    padding-bottom: 10px;
  }

  .custom-navbar .nav li a {
    display: inline-block;
    margin-bottom: 5px;
  }

}


@media (max-width: 580px) {

  #about .about-thumb {
    margin-top: 0px;
  }

  .about-thumb .social-icon {
    margin-bottom: 15px;
  }

}


@media (max-width: 357px) {

  h1 {
    font-size: 28px;
  }

  #about .col-md-4 a {
    width: 85px;
    height: 85px;
  }

}
